.env
*.env.*

.idea/
.vscode/
*.iml
*.iws

__pycache__/
*.py[cod]
*$py.class
*.egg
*.egg-info/
dist/
build/
develop-eggs/
eggs/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
.installed.cfg
MANIFEST

.venv/
venv/
env/
ENV/
pyenv/
.python-version

*.db
*.db-journal* # Catches -journal, -wal, -shm
*.sqlite
*.sqlite3

.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml
pytestdebug.log
nosetests.xml
.tox/

.DS_Store
Thumbs.db
ehthumbs.db

.ipynb_checkpoints

judge.db
judge.db-shm
judge.db-wal
.vercel
logs/