html, body {
    min-height: 100%;
}

body {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 90%;
    }
}

.problem-description-rendered img {
    max-width: 100%;
    height: auto;
    border-radius: 0.3rem;
}

.problem-description-rendered code:not(pre > code) {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: #3c3c3c;
    color: #adb5bd;
    border-radius: 6px;
}

pre {
    background-color: #212529;
    color: #f8f9fa;
    border: 1px solid #495057;
    font-size: 0.9em;
    border-radius: 0.3rem;
    tab-size: 4;
    padding: 1em;
    overflow-x: auto;
}

.badge.status-badge {
    font-size: 0.9rem;
    min-width: 8em;
    text-align: center;
    padding: 0.5em 0.8em;
    text-transform: uppercase;
    font-weight: 500;
}

.badge.status-badge-small {
    font-size: 0.8rem;
    min-width: 5em;
    text-align: center;
    padding: 0.3em 0.5em;
    text-transform: uppercase;
    font-weight: 500;
}

.status-ACCEPTED, .status-SUCCESS { background-color: #28a745; }
.status-WRONG_ANSWER, .status-TIME_LIMIT_EXCEEDED, .status-RUNTIME_ERROR, .status-MEMORY_LIMIT_EXCEEDED { background-color: #dc3545; }
.status-COMPILATION_ERROR { background-color: #ffc107; color: black; }
.status-INTERNAL_ERROR, .status-PENDING, .status-RUNNING { background-color: #6c757d; }

.test-case-card {
    border-left-width: 5px;
    border-left-style: solid;
}
.test-case-card-ACCEPTED { border-left-color: #28a745; }
.test-case-card-WRONG_ANSWER, .test-case-card-TIME_LIMIT_EXCEEDED, .test-case-card-RUNTIME_ERROR, .test-case-card-MEMORY_LIMIT_EXCEEDED { border-left-color: #dc3545; }
.test-case-card-COMPILATION_ERROR { border-left-color: #ffc107; }
.test-case-card-INTERNAL_ERROR, .test-case-card.status-PENDING, .test-case-card.status-RUNNING { border-left-color: #6c757d; }


.CodeMirror {
    border: 1px solid #495057;
    border-radius: 0.3rem;
    font-size: 0.9em;
    tab-size: 4;
}

#submissionForm .CodeMirror {
    height: 60vh;
    min-height: 400px;
}

.ide-editor-pane .CodeMirror {
    height: 100%;
}

.ide-editor-pane .card,
.ide-editor-pane .card-body {
    height: 100%;
}

.ide-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 75vh;
}

@media (min-width: 992px) {
    .ide-container {
        flex-direction: row;
    }
}

.ide-editor-pane {
    flex-grow: 1;
    min-height: 300px;
    display: flex;
    min-width: 0;
}

.ide-io-pane {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-basis: 100%;
}

@media (min-width: 992px) {
    .ide-io-pane {
        flex-basis: 30%;
        min-width: 30%;
    }
}

.ide-input-card {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
}

.ide-output-card {
    flex-basis: 70%;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.ide-io-pane .card-body {
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.ide-io-pane textarea.form-control {
    height: 100%;
    width: 100%;
    border: none;
    resize: none;
    background-color: #212529;
    color: #f8f9fa;
}

#output-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

#results-display {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
}

#results-display .results-scroll-area {
    flex-grow: 1;
    overflow: auto;
}

#results-display .results-scroll-area pre {
    overflow-x: visible;
    width: max-content;
    min-width: 100%;
}